body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 10px;
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top-half{
    width: 45%;
}
.top-half h1{
    font-size: 70px;
    font-weight: 700;
    word-spacing: 10px;
    color: #575757;
}
.skip{
    color: orangered;
}
.top-half p{
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 500;
    color: #676767;
    line-height: 40px;
}
.top-btn{
   
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px grey;
    background-image: linear-gradient(190deg, #2E3192 ,#1BFFFF);
}

.top-half img{
    width: 80%;
}

/* first section style done */

#section-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 200px 0px;
    margin-bottom: 70px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: cover;
}
.sec-half{
    width: 45%;
}
.sec-half img{
    width: 55%;
    padding-left: 100px;
}
.sec-half h1{
    font-size: 60px;
    font-weight: 700;
    color: #575757;
}
.sec-half p{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
    color: #676767;
}
.sec-section-btn{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 5px 5px 40px grey;
        background-image: linear-gradient(-190deg, #662D8C, #ED1E79);
}

/* second section style done */



.header-text{
    text-align: center;
    padding: 10px 30px;
}
.header-text h2{
    font-size: 45px;
    font-weight: 600;
    color: #575757;
    padding: 10px 0px;
}
.header-text p{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #676767;
}

.third-section-cards{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;

}
.third-section-cards .cards{
    width:25%;
    padding: 1.5% 1%;
    box-shadow: 8px 8px 40px grey;
    border-radius: 30px;
}
.third-section-cards .cards img{
    width: 100%;
}

/* third section style done */

#section-four{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
#numbers{
        display: flex;
         justify-content: space-evenly;
        box-shadow: 10px 10px 50px grey;
        border-radius: 15px;
}
.numbers{
    padding: 20px 40px;

}

/* fourth section style done */

footer{
    background-color: rgb(0, 0, 54);
    height: 150px;
    text-align: center;
    padding-top: 40px;
}
footer h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #fff;
}
footer h1 span{
    color: orangered;
}
footer p{
    font-size: 20px;
    color: #fff;
    
}